<!DOCTYPE html>
<html lang="ko">
<% include layout/head %>

<body>
    <% include layout/nav %>
    <div class="container">
        
        <h1>현재 한강물온도</h1>
        <h1><%= temp%></h1>    
    </div>
</body>

</html>